@media (min-width: 1800px) {
    .view-box {
        display: block!important;
    }
}
@media (max-width: 1800px) {

    .header {
        background-size: 100% 100%;
    }
}

@media (max-width: 1600px) {
    .container-view {
        max-width: 1270px;
    }

    /*cards*/
    .content-card-view {
        min-height: 200px;
        min-width: 200px;
        margin-right: 15px;
    }

    .card-view-data {
        height: 50px;
        width: 50px;
        font-size: 14px;
    }


    .content-card-info {
        min-height: 220px;
        min-width: 285px;
    }

    .content-card-title {
        padding-bottom: 15px;
    }
}

@media (max-width: 1399px) {
    .header {
        background-size: cover;
    }

    .container-view {
        max-width: 1070px;
    }

    .nav__menu-link {
        height: 60px;
    }

    .nav__menu-link a {
        font-size: 14px;
    }


    .content-card-view {
        min-height: 160px;
        min-width: 160px;
    }

    .card-view-data {
        height: 40px;
        width: 40px;
        font-size: 12px;
    }

    .content-card-info {
        min-height: 200px;
        min-width: 25px;
    }

    .content-card-title {
        font-size: 16px;
    }

    .content-card-desc {
        font-size: 14px;
    }
}

@media (max-width: 1199px) {
    .container-view {
        max-width: 950px;
    }

    .nav__menu-link a {
        font-size: 13px;
    }

    .header__contacts {
        width: 100%;
        justify-content: space-between;
    }

    .item-location {
        font-size: 20px;
    }

    .item-phone {
        font-size: 25px;
    }

    .header__content-card {
        flex-direction: column;
        text-align: center;
    }

    .content-card-view {
        min-height: 160px;
        min-width: auto;
        width: 100%;
    }

    .card-view-data {
        height: 40px;
        width: 40px;
        font-size: 12px;
    }

    .content-card-info {
        min-height: 200px;
        min-width: 25px;
    }

    .content-card-title {
        font-size: 16px;
    }

    .content-card-desc {
        font-size: 14px;
    }

}

@media (max-width: 991px) {
    .header__content-card {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .container-view {
        max-width: 750px;
    }


    .header__contacts-items {
        margin-right: 0;
    }

    .header__contacts-burger {
        display: block;
        margin-top: 15px;
    }

    .header__nav {
        display: none;
    }

    .header__contacts {
        padding-bottom: 30px;
    }

    .header__contacts-logo {
        width: 300px;
        height: auto;
    }

    .header__contacts-logo img {
        max-width: 100%;
    }

}

@media (max-width: 767px) {
    .header__content{
        padding-bottom: 30px;
    }
    .header__content-cards {
        justify-content: center;
    }

    .header__contacts-desktop {
        display: flex;
        flex-direction: column-reverse;
    }

    .header__contacts-logo {
        width: 100%;
    }

    .item-location, .item-phone {
        font-size: 14px;
    }

    .container-view {
        max-width: 550px;
    }

}

@media (max-width: 568px) {
    .container-view {
        max-width: 320px;
    }

    .header__description:after {
        left: 15px;
        height: 15px;
        width: 15px;
        top: 0px;
    }
}