<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знаємо про тиск</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
    <link rel="stylesheet" href="../../../assets/styles/media.css">
</head>
<body>
<div class="general diary-page">
    <div class="container-fluid container-view">
        <div class="row">
            <div class="general__contacts">
                <div class="col-10 col-sm-11 col-lg-12">
                    <div class="general__contacts-desktop">
                        <div class="col-12 p-0">
                            <div class="general__contacts-logo">
                                <div class="col-12 col-md-6 pl-0 d-flex justify-content-center justify-content-md-start">
                                    <a href="../../../index.html">
                                        <img class="logo-strazhesko" src="../../../assets/img/logo.png" alt="">
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="contacts-logo-support">
                                        <p>За інформаційної підтримки</p>
                                        <img class="servier-logo" src="../../../assets/img/servier-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-sm-1 d-block d-lg-none">
                    <div class="general__contacts-burger">
                        <div class="burger-icon">
                            <span></span>
                        </div>
                        <div class="burger-menu">
                            <ul class="burger__menu-links">
                                <li class="burger__menu-link">
                                    <a href="../../../index.html">Про проект</a>
                                </li>
                                <li class="burger__menu-link dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">Корисні матеріали <br> для
                                        пацієнтів</a>
                                    <div class="dropdown-menu">
                                        <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні
                                            відео</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо
                                            показники</a>
                                        <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                            оптимально</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про
                                            супутні стани</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про
                                            тиск</a>
                                    </div>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav__fullscreen">
            <nav class="nav general__nav">
                <ul class="nav nav__menu-links">
                    <li class="nav__menu-link">
                        <a class="nav-link active" href="../../../index.html">Про проект</a>
                    </li>
                    <li class="nav__menu-link dropdown drop-link">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Корисні матеріали</a>
                        <div class="dropdown-menu nav__menu-dropMenu">
                            <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні відео</a>
                            <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо показники</a>
                            <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                оптимально</a>
                            <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про супутні
                                стани</a>
                            <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про тиск</a>
                        </div>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--        Individ-->

        <div class="content__cabinet">
            <div class="row">
                <div class="col-12">
                    <div class="content__cabinet-upper">
                        <div class="cabinet-upper-title content-title-main">
                            <p>Кабінет для пацієнтів</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="cabinet-info-block block-four">
                        <div class="col-12 col-lg-6 col-xl-7 p-0">
                            <div class="info-text text-four">
                                <ul>
                                    <li>
                                        Кабінет освіти та консультації пацієнтів на основі цифрових технологій — це
                                        перший в Україні унікальний освітній проєкт Асоціації кардіологів України за
                                        інформаційної підтримки фармацевтичної компанії Servier, створений з
                                        використанням сучасних технологій та відповідно міжнародних рекомендацій щодо
                                        покращення прихильності пацієнтів до лікування.
                                    </li>
                                    <li>
                                        «Відкриття кабінету — це наша соціальна місія і важливий крок на шляху навчання
                                        пацієнтів, поліпшення прихильності до лікування та ефективності
                                        терапії», <b>Директор ННЦ "Інститут кардіології ім. академіка М.Д. Стражеска"
                                        Володимир Коваленко.</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5 p-0 d-flex card-info">
                            <div class="info-image image-four"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cabinet-info-block block-first">
                        <div class="col-12 col-lg-6 col-xl-7 p-0">
                            <div class="info-text text-first">
                                <ul>
                                    <li>
                                        Кабінет освіти та консультації пацієнтів на основі цифрових технологій, який
                                        знаходиться в
                                        поліклініці ННЦ «Інститут кардіології ім. академіка М.Д. Стражеска», це перший в
                                        Україні проект,
                                        спрямований на освіту кардіологічних пацієнтів. Його мета — дати пацієнтам із
                                        серцево-судинними
                                        захворюваннями надійну і перевірену освітню інформацію про їх захворювання. Ідея
                                        проекту виникла
                                        у зв’язку з даними останніх наукових досліджень, що чітко доводять важливість
                                        виконання
                                        пацієнтом всіх рекомендацій лікаря для запобігання небезпечних для життя серцево
                                        судинних
                                        ускладнень.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5 p-0 d-flex card-info">
                            <div class="info-image image-first"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cabinet-info-block image-second">
                        <div class="col-12 col-lg-6 col-xl-7 p-0">
                            <div class="info-text text-second">
                                <ul>
                                    <li>
                                        Не зважаючи на те що під час візиту до лікаря пацієнт завжди отримує необхідну
                                        інформацію призначене лікування, про корекцію способу життя, та необхідність
                                        регулярного вимірювання показників, часто у пацієнта залишаються питання. Саме в
                                        кабінеті пацієнти зможуть отримати більше інформації про серцево-судинні
                                        захворювання, про зміну способу життя, подивитися навчальні відео про те, як
                                        правильно вимірювати тиск, пульс та навчитися це робити правильно на практиці.
                                        Кабінет розрахований на пацієнтів поліклініки та стаціонарного відділення
                                        Інституту з такими захворюваннями як гіпертензія, ішемічна хвороба серця. Це
                                        найпоширеніші захворювання серцево-судинної системи в Україні і в світі.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5 p-0 d-flex card-info">
                            <div class="info-image image-second"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cabinet-info-block block-third">
                        <div class="col-12 col-lg-6 col-xl-7 p-0">
                            <div class="info-text text-third">
                                <ul>
                                    <li>
                                        Крім освітньої складової, кабінет передбачає присутність медичного працівника,
                                        який
                                        може
                                        відповісти на питання, показати, як правильно вимірювати тиск, або ж допомогти
                                        встановити на
                                        телефон мобільні додатки — <a href="../Srazhesko-Solutions/index.html">«Мій контроль тиску» і «Стенокардія під контролем».</a>
                                        Згадані
                                        кардіологічні мобільні додатки допомагають контролювати показники артеріального
                                        тиску в домашніх
                                        умовах, відстежувати напади стенокардії і, за необхідності, направляти
                                        результати
                                        лікарю для
                                        консультації, щоб він оцінив стан здоров'я пацієнта дистанційно. Тобто це
                                        сучасний
                                        дистанційний
                                        моніторинг із забезпеченням зв’язку лікар – пацієнт.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5 p-0 d-flex card-info">
                            <div class="info-image image-third"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="row">-->
            <!--                <div class="col-12">-->
            <!--                    <div class="content__cabinet-director">-->
            <!--                        <div class="cabinet-director-image"></div>-->
            <!--                        <div class="cabinet-director-text">-->
            <!--                            <p>-->
            <!--                                «Відкриття кабінету — це наша соціальна місія і важливий крок на шляху навчання-->
            <!--                                пацієнтів,-->
            <!--                                поліпшення прихильності до лікування та ефективності терапії»,<b> Директор ННЦ "Інститут-->
            <!--                                кардіології ім. академіка М.Д. Стражеска" Володимир Коваленко.</b>-->
            <!--                            </p>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row">
                <div class="col-12">
                    <div class="content__cabinet-description">
                        <p>
                            Запрошуємо пацієнтів стаціонару відвідати кабінет освіти та консультації пацієнтів!
                            Кабінет знаходиться в поліклініці інституту на 2-му поверсі. Кабінет № 3. Працює з понеділка
                            по п’ятницю з 12 до 14 години.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="general__description">© Copyright 2020 <span>|</span> Інститут кардіології імені академіка М.Д.
            Стражеска <span>|</span>All Rights Reserved
        </div>
        <div class="general__help">
            <span>За інформаційної підтримки Servier</span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="../../../assets/js/common.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>