<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Супутні стани</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
    <link rel="stylesheet" href="../../../assets/styles/media.css">
</head>
<body>
<div class="general conditions-page">
    <div class="container-fluid container-view">
        <div class="row">
            <div class="general__contacts">
                <div class="col-10 col-sm-11 col-lg-12">
                    <div class="general__contacts-desktop">
                        <div class="col-12 p-0">
                            <div class="general__contacts-logo">
                                <div class="col-12 col-md-6 pl-0 d-flex justify-content-center justify-content-md-start">
                                    <a href="../../../index.html">
                                        <img class="logo-strazhesko" src="../../../assets/img/logo.png" alt="">
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="contacts-logo-support">
                                        <p>За інформаційної підтримки</p>
                                        <img class="servier-logo" src="../../../assets/img/servier-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-sm-1 d-block d-lg-none">
                    <div class="general__contacts-burger">
                        <div class="burger-icon">
                            <span></span>
                        </div>
                        <div class="burger-menu">
                            <ul class="burger__menu-links">
                                <li class="burger__menu-link">
                                    <a href="../../../index.html">Про проект</a>
                                </li>
                                <li class="burger__menu-link dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">Корисні матеріали <br> для
                                        пацієнтів</a>
                                    <div class="dropdown-menu">
                                        <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні
                                            відео</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо
                                            показники</a>
                                        <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                            оптимально</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про
                                            супутні стани</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про тиск</a>
                                    </div>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav__fullscreen">
            <nav class="nav general__nav">
                <ul class="nav nav__menu-links">
                    <li class="nav__menu-link">
                        <a class="nav-link active" href="../../../index.html">Про проект</a>
                    </li>
                    <li class="nav__menu-link dropdown drop-link">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Корисні матеріали</a>
                        <div class="dropdown-menu nav__menu-dropMenu">
                            <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні відео</a>
                            <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо показники</a>
                            <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось оптимально</a>
                            <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про супутні стани</a>
                            <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про тиск</a>
                        </div>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content__menu-tabs">
            <div class="content__menu-tab">
                <a href="#hipers">
                    Про що важливо памятати, якщо у вас артеріальна гіпертензіяю.
                </a>
            </div>
            <div class="content__menu-tab">
                <a href="#infarct">
                    ЯК РОЗПІЗНАТИ ІНФАРКТ?
                </a>
            </div>
            <div class="content__menu-tab">
                <a href="#stroke">
                    ЯК РОЗПІЗНАТИ ІНСУЛЬТ?
                </a>
            </div>
        </div>

        <!--Individ-->
        <div class="content__conditions">
            <!--Hipers-->
            <div class="content__conditions-body hipers-path" id="hipers">
                <div class="row">
                    <div class="content-title-main">
                        <p>ПРО ЩО ВАЖЛИВО ПАМ'ЯТАТИ,</p>
                        <p>ЯКЩО У ВАС АРТЕРІАЛЬНА ГІПЕРТЕНЗІЯ:</p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-lg-end">
                    <a class="content-download-btn" target="_blank" href="../../../assets/materials/СoncomitantСonditions/Servier_CV-NonPM-2020-8_е.pdf">Завантажити листівку</a>
                </div>

                <div class="row">
                    <div class="hipers-path-items">
                        <div class="hipers-path-item">
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="path-item-logo hipers-tablets"></div>
                            </div>
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="path-item-info">
                                    <div class="path-item-title">
                                        НЕ ПРИПИНЯЙТЕ ПРИЙОМ ЛІКІВ <br>
                                        ДЛЯ ЛІКУВАННЯ АРТЕРІАЛЬНОЇ <br>
                                        ГІПЕРТЕНЗІЇ, ЯКІ ВАМ ПРИЗНАЧИВ ЛІКАР
                                    </div>
                                    <div class="path-item-text">
                                        Уникнути розвитку інфаркту та інсульту <br>
                                        можна лише за допомогою фармакологічних <br>
                                        препаратів, ефективність яких науково доведена.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hipers-path-item">
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="path-item-logo hipers-warn"></div>
                            </div>
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="path-item-info">
                                    <div class="path-item-title">
                                        НЕ ПРИЗНАЧАЙТЕ СОБІ ЛІКУВАННЯ <br>
                                        САМОСТІЙНО, ПОЧУВШИ ТЕЛЕВІЗІЙНУ <br>
                                        РЕКЛАМУ АБО ЗА ПОРАДОЮ РІДНИХ <br>
                                        ТА ДРУЗІВ, ЯКІ НЕ МАЮТЬ ВІДПОВІДНОЇ <br>
                                        ОСВІТИ ТА ДОСВІДУ ЛІКУВАННЯ <br>
                                        СЕРЦЕВО-СУДИННИХ ЗАХВОРЮВАНЬ
                                    </div>
                                    <div class="path-item-text">
                                        Харчові добавки, магнітні браслети та диски <br>
                                        не замінюють лікування.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hipers-path-item">
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="path-item-logo hipers-lists"></div>
                            </div>
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="path-item-info">
                                    <div class="path-item-title">
                                        КОНТРОЛЮЙТЕ РІВЕНЬ <br>
                                        СВОГО АРТЕРІАЛЬНОГО ТИСКУ
                                    </div>
                                    <div class="path-item-text">
                                        Вимірюйте рівень Вашого тиску двічі на день <br>
                                        та записуйте результати у щоденник.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Infarct-->
            <div class="content__conditions-body infarct-path" id="infarct">
                <div class="row">
                    <div class="content-title-main">
                        <p>ЯК РОЗПІЗНАТИ ІНФАРКТ:</p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-lg-end">
                    <a class="content-download-btn" target="_blank" href="../../../assets/materials/СoncomitantСonditions/Servier_CV-NonPM-2020-9_.pdf">Завантажити листівку</a>
                </div>
                <div class="row">
                    <div class="infarct-path-items symptoms">
                        <div class="symptoms-title">
                            <span>КРОК 1.</span> СИМПТОМИ
                        </div>
                        <div class="infarct-path-body">
                            <div class="infarct-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo infarct-heart"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-title">
                                            НЕ ПРИПИНЯЙТЕ ПРИЙОМ ЛІКІВ <br>
                                            ДЛЯ ЛІКУВАННЯ АРТЕРІАЛЬНОЇ <br>
                                            ГІПЕРТЕНЗІЇ, ЯКІ ВАМ ПРИЗНАЧИВ ЛІКАР
                                        </div>
                                        <div class="path-item-text">
                                            Уникнути розвитку інфаркту та інсульту <br>
                                            можна лише за допомогою фармакологічних <br>
                                            препаратів, ефективність яких науково доведена.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="infarct-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo infarct-throat"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-title">
                                            ДИСКОМФОРТ В ІНШИХ ДІЛЯНКАХ <br>
                                            ВЕРХНЬОЇ ПОЛОВИНИ ТІЛА
                                        </div>
                                        <div class="path-item-text">
                                            Симптоми можуть включати біль або дискомфорт в одній чи обох <br>
                                            руках, спині, шиї, щелепі або животі.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="infarct-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo infarct-cough"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-double">
                                            <div class="path-item-title">
                                                ЗАДИШКА
                                            </div>
                                            <div class="path-item-text">
                                                Може супроводжувати дискомфорт або біль у грудях, або може <br>
                                                бути самостійною ознакою.
                                            </div>
                                        </div>
                                        <div class="path-item-double">
                                            <div class="path-item-title">
                                                ІНШІ ОЗНАКИ
                                            </div>
                                            <div class="path-item-text">
                                                Інфаркт може проявлятися слабкістю, приливом холодного поту, <br>
                                                нудотою.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="infarct-path-items justdo">
                        <div class="symptoms-title">
                            <span>КРОК 2.</span> ПОТРІБНО ДІЯТИ
                        </div>
                        <div class="infarct-path-item">
                            <div class="col-12 col-lg-3 col-xl-2">
                                <div class="path-item-logo justdo"></div>
                            </div>
                            <div class="col-12 col-lg-7 col-xl-9">
                                <div class="path-item-info">
                                    <div class="path-item-title">
                                        ЯКЩО З’ЯВИЛИСЯ СИМПТОМИ <br>
                                        ІНФАРКТУ ― НЕ ВАГАЙТЕСЬ, НЕГАЙНО <br>
                                        ВИКЛИКАЙТЕ ШВИДКУ ДОПОМОГУ.
                                    </div>
                                    <div class="path-item-text">
                                        Головне завдання ― виграти час; найефективніше лікування <br>
                                        в перші 6 годин з моменту виникнення симптомів інфаркту.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Stroke-->
            <div class="content__conditions stroke-path" id="stroke">
                <div class="row">
                    <div class="content-title-main">
                        <p>ЯК РОЗПІЗНАТИ ІНСУЛЬТ:</p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-lg-end">
                    <a class="content-download-btn" target="_blank" href="../../../assets/materials/СoncomitantСonditions/Servier_CV-NonPM-2020-10_.pdf">Завантажити листівку</a>
                </div>

                <div class="row">

                    <div class="stroke-path-items symptoms">
                        <div class="stroke-title">
                            <span>КРОК 1.</span> СИМПТОМИ
                        </div>
                        <ul class="stroke-path-lists">
                            <li class="stroke-path-list">
                                Раптове оніміння або слабкість обличчя, руки чи ноги, особливо на одній <br>
                                стороні тіла
                            </li>
                            <li class="stroke-path-list">
                                Раптова сплутаність мови, проблеми з вимовою чи розумінням мови.
                            </li>
                            <li class="stroke-path-list">
                                Раптові проблеми зору в одному або в обох очах.
                            </li>
                            <li class="stroke-path-list">
                                Раптові проблеми з ходою, запаморочення, втрата рівноваги або координації.
                            </li>
                            <li class="stroke-path-list">
                                Раптовий головний біль без видимої причини.
                            </li>
                        </ul>
                    </div>


                    <div class="stroke-path-items signs">
                        <div class="stroke-title">
                            <span>КРОК 2.</span> ОЗНАКИ (ШКАЛА FAST* )
                        </div>

                        <div class="stroke-path-body">
                            <div class="stroke-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo face"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-text">
                                            Попросіть всміхнутися ― асиметрія обличчя.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stroke-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo hands"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-text">
                                            Попросіть підняти обидві руки ― людина не може втримати <br>
                                            одну руку або скаржиться на слабкість в одній ру
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stroke-path-item">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo mouse"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-text">
                                            Задайте запитання або попросіть повторити просту фразу ― <br>
                                            людина не може відповісти або мова її сповільнена (змінена).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stroke-path-item timer-block">
                                <div class="col-12 col-lg-3 col-xl-2">
                                    <div class="path-item-logo timer"></div>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="path-item-info">
                                        <div class="path-item-title">
                                            ЯКЩО ВИЗНАЧЕНА ХОЧА Б ОДНА <br>
                                            ІЗ ПЕРЕЛІЧЕНИХ ОЗНАК ― НЕГАЙНО <br>
                                            ВИКЛИКАЙТЕ ШВИДКУ ДОПОМОГУ.
                                        </div>
                                        <div class="path-item-text">
                                            Головне завдання ― виграти час; найефективніше лікування <br>
                                            в перші 3 години з моменту виникнення інсульту.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content__conditions-footer">
                    <div class="conditions-footer-items">
                        <div class="col-12">
                            <div class="conditions-footer-item conditions-first">
                                Проконсультуйтесь з лікарем щодо стану Вашого здоров’я.
                                Освітній матеріал для пацієнтів та населення підготовлено та адаптовано
                                станом на серпень 2020 року за матеріалами публікації Palatini P et al. Management
                                of the hypertensive patient with elevated heart rate. Statement of the Second
                                Consensus
                                Conference endorsed by the European Society of Hypertension J Hypertens. 2016;34(5):
                                813-821; doi: 10.1097/HJH.0000000000000865; та ресурсу Американської Асоціації
                                Кардіологів
                                https://www.heart.org/en/health-topics/high-blood-pressure/the-factsabout-high-blood-pressure/all-about-heart-rate-pulse
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="conditions-footer-item conditions-last">
                                <div class="footer-item">
                                    <div class="footer-item-contacts">
                                        <div class="col-12 col-lg-8 col-xl-9 p-0">
                                            <div class="footer-item-title">
                                                Виданий за партнерства ДУ «ННЦ Інститут кардіології імені М.Д.
                                                Стражеска»
                                                НАМН України та ТОВ «Серв’є Україна»
                                            </div>
                                            <div class="item-contacts">
                                                ТОВ «Серв’є Україна»: 04070, м. Київ,
                                                вул. Набережно-Хрещатицька, 41.
                                                Тел. (044) 490-34-41, www.servier.ua.
                                                Copyright © 2020, ТОВ «Серв’є Україна».
                                                Всі права захищені. CV-NonPM-2020-2
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 col-xl-3 p-0">
                                            <div class="item-logo">
                                                <img src="../../../assets/img/servier-logo.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="general__description">© Copyright 2020 <span>|</span> Інститут кардіології імені академіка
                М.Д.
                Стражеска <span>|</span>All Rights Reserved
            </div>
            <div class="general__help">
                <span>За інформаційної підтримки Servier</span>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="../../../assets/js/common.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>