<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знаємо про тиск</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
    <link rel="stylesheet" href="../../../assets/styles/media.css">
</head>
<body>
<div class="general diary-page">
    <div class="container-fluid container-view">
        <div class="row">
            <div class="general__contacts">
                <div class="col-10 col-sm-11 col-lg-12">
                    <div class="general__contacts-desktop">
                        <div class="col-12 p-0">
                            <div class="general__contacts-logo">
                                <div class="col-12 col-md-6 pl-0 d-flex justify-content-center justify-content-md-start">
                                    <a href="../../../index.html">
                                        <img class="logo-strazhesko" src="../../../assets/img/logo.png" alt="">
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="contacts-logo-support">
                                        <p>За інформаційної підтримки</p>
                                        <img class="servier-logo" src="../../../assets/img/servier-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-sm-1 d-block d-lg-none">
                    <div class="general__contacts-burger">
                        <div class="burger-icon">
                            <span></span>
                        </div>
                        <div class="burger-menu">
                            <ul class="burger__menu-links">
                                <li class="burger__menu-link">
                                    <a href="../../../index.html">Про проект</a>
                                </li>
                                <li class="burger__menu-link dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">Корисні матеріали <br> для
                                        пацієнтів</a>
                                    <div class="dropdown-menu">
                                        <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні
                                            відео</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо
                                            показники</a>
                                        <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                            оптимально</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про
                                            супутні стани</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про
                                            тиск</a>
                                    </div>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav__fullscreen">
            <nav class="nav general__nav">
                <ul class="nav nav__menu-links">
                    <li class="nav__menu-link">
                        <a class="nav-link active" href="../../../index.html">Про проект</a>
                    </li>
                    <li class="nav__menu-link dropdown drop-link">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Корисні матеріали</a>
                        <div class="dropdown-menu nav__menu-dropMenu">
                            <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні відео</a>
                            <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо показники</a>
                            <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                оптимально</a>
                            <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про супутні
                                стани</a>
                            <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про тиск</a>
                        </div>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--        Individ-->

        <div class="content__pressure">
            <div class="row">
                <div class="col-12">
                    <div class="content__pressure-upper">
                        <div class="pressure-upper-title content-title-main">
                            <p>Про підвищений тиск</p>
                        </div>
                        <ul class="pressure-upper-lists">
                            <li class="pressure-upper-list afterBox">
                                Підвищений тиск (ще називають підвищений артеріальний тиск, артеріальна гіпертензія,
                                гіпертонічна хвороба) це стан, коли тиск крові в судинах високий, а точніше сила, з якою
                                кров тисне на стінку судини, коли тече та розповсюджується по тілу, <b>постійно</b> є
                                занадто високою.
                                Більше (кнопка, при нажатии, віпадает ниже раздел раздел Важливо: 3 факти по АГ)…
                                Дізнатися про цифри (ниже открівается раздел Дізнайтесь про цифри)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="content__pressure-info">
                        <div class="pressure-info-important">
                            <div class="info-important-line">
                                <div class="line-title"><span>ВАЖЛИВО:</span>3 факти про АГ, які заохотять вас дізнатися
                                    більше
                                </div>
                            </div>
                            <div class="content__pressure-image"></div>
                            <ul class="info-important-lists">
                                <li class="info-important-list afterBox">
                                    Підвищений тиск (ще називають артеріальна гіпертензія, гіпертонічна хвороба)
                                    широко розповсюджений <b>“мовчазний вбивця”.</b> Уявіть, високий систолічний
                                    артеріальний тиск (при вимірюванні
                                    це перший, тобто більший, показник) є <b>причиною 2х з кожних 5 смертей в
                                    УКРАЇНІ*.</b> Зважте на цю цифру!
                                </li>
                                <li class="info-important-list afterBox">
                                    Дуже часто <b>не має чітких симптомів, тиск потребує постійного контролю та
                                    вимірювання.</b> Інколи повсякденні звички та спосіб життя ще більше додають ризику
                                    мати виражену
                                    гіпертензію чи навіть <b>ускладнення</b>.
                                </li>
                                <li class="info-important-list afterBox">
                                    Якщо про підвищений тиск <b>не знати або не зважати на нього, не лікувати</b>, то
                                    негативний вплив високого тиску на судини може стати чинником <b>проблем з серцем,
                                    інфаркту, інсульту,</b>
                                    та загрозою здоров'ю в цілому. Ось чому запобігання, лікування та обізнаність щодо
                                    проблеми
                                    гіпертензії допоможуть жити довше здоровим повноцінним життям.
                                </li>
                            </ul>
                            <div class="info-important-desc">
                                *За даними The World Bank. 2018. МЕДИЧНА ДОПОМОГА ПРИ ГІПЕРТОНІЇ В УКРАЇНІ: ТОЧКИ
                                РОЗРИВУ В КАСКАДІ
                                ТА ПОДАЛЬШІ ДІЇ. Washington DC: World Bank)
                            </div>
                        </div>
                        <div class="pressure-info-table">
                            <div class="info-table-body">
                                <div class="table-body-title">
                                    Дізнайтесь про цифри та що вони означають
                                </div>
                                <div class="table-body-text">
                                    Отже, при вимірюванні перший, тобто більший, показник - це систолічний артеріальний
                                    тиск, а другий показник – це діастолічний тиск (менше значення)
                                </div>
                                <div class="table-body-view">
                                    <table width="100%">
                                        <thead>
                                        <tr class="table-field-title">
                                            <th width="28%">Тиск</th>
                                            <th width="45%">
                                                Систолічний, мм рт.ст. <br>
                                                (більше\верхнє значення)
                                            </th>
                                            <th width="8%"></th>
                                            <th width="19%">
                                                Діастолічний, мм <br> рт.ст. <br>
                                                (менше\нижнє <br> значення)
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-field-text optimal">
                                            <td>Оптимальний</td>
                                            <td>менше 120</td>
                                            <td>та\або</td>
                                            <td>менше 80</td>
                                        </tr>
                                        <tr class="table-field-text normal">
                                            <td>Нормальний</td>
                                            <td>120 – 129</td>
                                            <td>та\або</td>
                                            <td>80-84</td>
                                        </tr>
                                        <tr class="table-field-text high">
                                            <td>Високий нормальний</td>
                                            <td>130 – 139</td>
                                            <td>та\або</td>
                                            <td>85 – 89</td>
                                        </tr>
                                        <tr class="table-field-text hiper">
                                            <td>Гіпертензія!!!</td>
                                            <td>140 чи вище</td>
                                            <td>та\або</td>
                                            <td>90 чи вище</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-body-desc">
                                    Перекладено та адаптовано за матеріалами рекомендацій Європейського товариства
                                    Артеріальної гіпертензії (ESH / ESC 2018 European Heart Journal (2018) 39,
                                    3021–3104; doi:10.1093/eurheartj/ehy339);
                                </div>
                            </div>
                        </div>
                        <div class="pressure-info-high">
                            <div class="info-high-title">
                                Якщо у Вас підвищений тиск, Ви не самотні
                            </div>
                            <ul class="info-high-lists">
                                <li class="info-high-list afterBox">Чверть населення України має підвищенний тиск. Це
                                    дані
                                    офіційної статистики, тобто ті, кому вже точно встановлений діагноз. Напевно, є й
                                    ті, що навіть не здогадуються, що в них підвищенний тиск.
                                </li>
                                <li class="info-high-list afterBox">Тож, найкращий шлях дізнатися про свій тиск – це
                                    виміряти
                                    його.
                                </li>
                                <li class="info-high-list afterBox">
                                    Запишіть свої результати у щоденник вимірів АТ (Завантажити) – при натиснені кнопки
                                    загружаєтся щоденник контролю АТ або скористайтесь цифровим щоденником, наприклад,
                                    «Мій контроль тиску»
                                </li>
                            </ul>
                        </div>
                        <a href="../Srazhesko-Indexes/index.html" class="pressure-info-link">Поради щодо вимірювання
                            тиску</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="content__diary">
            <div class="content-title-main">
                <p class="content-title-main">ЩОДЕННИК ВИМІРІВ ЧСС / АТ *</p>
                <p class="diary-text">Вимірюйте свої показники та візьміть заповнений щоденник до лікаря</p>
            </div>
            <div class="row justify-content-center justify-content-lg-end">
                <a class="content-download-btn" target="_blank"
                   href="../../../assets/materials/Diary/Servier_CV-NonPM-2020-12_.pdf">Завантажити листівку</a>
            </div>

            <div class="content__diary-info">

                <table width="100%">
                    <tr class="active-zone">
                        <th>Дата</th>
                        <th>Чсс</th>
                        <th>АТ</th>
                        <th>Мої зауваження</th>
                        <th>Моє лікування</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active-zone">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active-zone">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>

            </div>

            <div class="row">
                <div class="content__diary-footer">
                    <div class="diary-footer-items">
                        <div class="col-12 col-xl-8">
                            <div class="diary-footer-item diary-first">
                                * ЧСС – частота серцевих скорочень/пульс, уд/хв; <br>
                                АТ – артеріальний тиск, мм рт.ст. <br>
                                Проконсультуйтесь з лікарем щодо стану Вашого здоров’я.
                                Виданий за партнерства ДУ «ННЦ Інститут кардіології імені М.Д. Стражеска» НАМН України
                                та ТОВ «Серв’є Україна»
                                ТОВ «Серв’є Україна»: 04070, м. Київ, вул. Набережно-Хрещатицька, 41. Тел. (044)
                                490-334-41, www.servier.ua.
                                Copyright © 2020, ТОВ «Серв’є Україна». Всі права захищені. CV-NonPM-2020-12
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 offset-xl-1">
                            <div class="item-logo">
                                <img src="../../../assets/img/servier-logo.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="general__description">© Copyright 2020 <span>|</span> Інститут кардіології імені академіка М.Д.
            Стражеска <span>|</span>All Rights Reserved
        </div>
        <div class="general__help">
            <span>За інформаційної підтримки Servier</span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="../../../assets/js/common.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>