<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вимірюємо показники</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
    <link rel="stylesheet" href="../../../assets/styles/media.css">
</head>
<body>
<div class="general indexes-page">
    <div class="container-fluid container-view">
        <div class="row">
            <div class="general__contacts">
                <div class="col-10 col-sm-11 col-lg-12">
                    <div class="general__contacts-desktop">
                        <div class="col-12 p-0">
                            <div class="general__contacts-logo">
                                <div class="col-12 col-md-6 pl-0 d-flex justify-content-center justify-content-md-start">
                                    <a href="../../../index.html">
                                        <img class="logo-strazhesko" src="../../../assets/img/logo.png" alt="">
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="contacts-logo-support">
                                        <p>За інформаційної підтримки</p>
                                        <img class="servier-logo" src="../../../assets/img/servier-logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-sm-1 d-block d-lg-none">
                    <div class="general__contacts-burger">
                        <div class="burger-icon">
                            <span></span>
                        </div>
                        <div class="burger-menu">
                            <ul class="burger__menu-links">
                                <li class="burger__menu-link">
                                    <a href="../../../index.html">Про проект</a>
                                </li>
                                <li class="burger__menu-link dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">Корисні матеріали <br> для
                                        пацієнтів</a>
                                    <div class="dropdown-menu">
                                        <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні
                                            відео</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо
                                            показники</a>
                                        <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                            оптимально</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про
                                            супутні стани</a>
                                        <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про
                                            тиск</a>
                                    </div>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                                </li>
                                <li class="burger__menu-link">
                                    <a href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav__fullscreen">
            <nav class="nav general__nav">
                <ul class="nav nav__menu-links">
                    <li class="nav__menu-link">
                        <a class="nav-link active" href="../../../index.html">Про проект</a>
                    </li>
                    <li class="nav__menu-link dropdown drop-link">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Корисні матеріали</a>
                        <div class="dropdown-menu nav__menu-dropMenu">
                            <a class="dropMenu-link" href="../Srazhesko-StudyVideos/index.html">Освітні відео</a>
                            <a class="dropMenu-link" href="../Srazhesko-Indexes/index.html">Вимірюємо показники</a>
                            <a class="dropMenu-link" href="../Srazhesko-HealthyEating/index.html">Харчуємось
                                оптимально</a>
                            <a class="dropMenu-link" href="../Srazhesko-Сonditions/index.html">Знаємо про супутні
                                стани</a>
                            <a class="dropMenu-link" href="../Srazhesko-Diary/index.html">Знаємо про тиск</a>
                        </div>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Solutions/index.html">Мобільні додатки</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-HealthyLifestyle/index.html">Здоровий спосіб життя</a>
                    </li>
                    <li class="nav__menu-link">
                        <a class="nav-link" href="../Srazhesko-Cabinet/index.html">Кабінет для пацієнтів</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content__menu-tabs">
            <div class="content__menu-tab">
                <a href="#howpressure">
                    Як правильно вимірювати артеріальний тиск (АT) вдома?
                </a>
            </div>
            <div class="content__menu-tab">
                <a href="#howpulse">
                    Як виміряти пульс в домашній умовах?
                </a>
            </div>
        </div>

        <!--Individ-->
        <div class="content__indexes">
            <!--FIRST PATH-->
            <div class="content__indexes first-path" id="howpressure">
                <div class="row justify-content-center">
                    <div class="content__indexes-title content-title-main">
                        <p>ЯК ПРАВИЛЬНО ВИМІРЮВАТИ</p>
                        <p>АРТЕРІАЛЬНИЙ ТИСК (АT) ВДОМА?</p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-lg-end">
                    <a class="content-download-btn" target="_blank"
                       href="../../../assets/materials/MeasureIndicators/Servier_CV-NonPM-2020-2%20е.pdf">Завантажити
                        листівку</a>
                </div>
                <div class="row justify-content-center">
                    <div class="content__indexes-instruction"></div>
                </div>
                <div class="row">
                    <div class="content__indexes-info">
                        <div class="indexes-info-table">
                            <div class="info-table-title">
                                ДОТРИМУЙТЕСЬ НЕОБХІДНИХ УМОВ <br>
                                ДЛЯ ТОЧНОГО ВИМІРЮВАННЯ АРТЕРІАЛЬНОГО ТИСКУ
                            </div>
                            <div class="info-table-body">
                                <div class="table-body-items">
                                    <div class="col-12 col-lg-8">
                                        <div class="table-body-item">
                                            <div class="body-item-image"></div>
                                            <div class="body-item-text">
                                                Вимірюйте АТ в спокійних та
                                                комфортних умовах після 5-ти
                                                хвилинного перебування в спокої
                                            </div>
                                        </div>
                                        <div class="table-body-item">
                                            <div class="body-item-image"></div>
                                            <div class="body-item-text">
                                                Під час вимірювання АТ не рухайтесь
                                                та не розмовляйте
                                            </div>
                                        </div>
                                        <div class="table-body-item">
                                            <div class="body-item-image"></div>
                                            <div class="body-item-text">
                                                Вимірюйте АТ двічі на день (вранці
                                                та ввечері): до прийому їжі та ліків
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="table-body-item">
                                            <div class="body-item-image"></div>
                                            <div class="body-item-text">
                                                За 30 хвилин <br>
                                                до вимірювання АТ: <br>
                                                не паліть цигарки, <br>
                                                не виконуйте фізичних <br>
                                                навантажень, <br>
                                                не вживайте <br>
                                                кофеїн-вмісних напоїв <br>
                                                та алкоголю
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__indexes-desc">
                            * дізнайтесь більше про додаток для смартфона на <span>www.servier.ua</span> або <span>www.strazhesko.org.ua</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--SECOND PATH-->
            <div class="content__indexes second-path" id="howpulse">
                <div class="row justify-content-center">
                    <div class="content__indexes-title content-title-main">
                        <p>ЯК ВИМІРЯТИ ПУЛЬС</p>
                        <p>В ДОМАШНІХ УМОВАХ?</p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-lg-end">
                    <a class="content-download-btn" target="_blank"
                       href="../../../assets/materials/MeasureIndicators/Servier_CV-NonPM-2020-3.pdf">Завантажити
                        листівку</a>
                </div>
                <div class="row">

                    <div class="content__indexes preparation">
                        <div class="content__indexes-line">
                            <div class="line-title">1 <span></span> ПІДГОТОВКА</div>
                        </div>
                        <div class="preparation__cards">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/smoke.png" alt="">
                                        <img src="./assets/img/drink.png" alt="">
                                        <img src="./assets/img/run.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Перед вимірюванням <br>
                                        cлід уникати фізичних <br>
                                        вправ, куріння, вживання <br>
                                        алкоголю та кави
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/sit.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Дайте собі <br>
                                        розслабитися <br>
                                        принаймні на 5 хв
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/voice.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Уникайте фонового <br>
                                        шуму та розмов
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/temp.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Температура <br>
                                        в кімнаті повинна бути <br>
                                        комфортною
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/chair.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Вимірювати <br>
                                        слід у сидячому <br>
                                        положенні
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="preparation__card">
                                    <div class="preparation__card-view">
                                        <img src="./assets/img/sitChair.png" alt="">
                                    </div>
                                    <div class="preparation__card-text">
                                        Сидіть зручно, <br>
                                        не розгинаючи <br>
                                        ноги
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="content__indexes rulesInd">
                        <div class="content__indexes-line">
                            <div class="line-title">2 <span></span> ПРАВИЛА ВИМІРЮВАННЯ</div>
                        </div>
                        <div class="rulesInd__content">
                            <ul class="rulesInd__content-items">
                                <li class="rulesInd__content-item">
                                    Поверніть руку долонею вверх
                                </li>
                                <li class="rulesInd__content-item">
                                    Іншою рукою обхопіть кисть так, щоби три пальці знаходилися <br>
                                    на променевій артерії в основі великого пальця
                                </li>
                                <li class="rulesInd__content-item">
                                    Знайшовши променеву артерію притисніть її, і ви відчуєте <br>
                                    пульсову хвилю, як удар або поштовх
                                </li>
                                <li class="rulesInd__content-item">
                                    Підрахуйте кількість ударів протягом 1 хвилини
                                </li>
                                <li class="rulesInd__content-item">
                                    Пульс вимірюється чотири рази на день, <br>
                                    двічі вранці і двічі ввечері
                                </li>
                                <li class="rulesInd__content-item">
                                    Записуйте свої показники <br>
                                    в щоденник самоконтролю <br>
                                    та передавайте їх лікарю
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content__indexes-footer">
                        <div class="indexes-footer-items">
                            <div class="col-12">
                                <div class="indexes-footer-item indexes-first">
                                    Проконсультуйтесь з лікарем щодо стану Вашого здоров’я.
                                    Освітній матеріал для пацієнтів та населення підготовлено та адаптовано
                                    станом на серпень 2020 року за матеріалами публікації Palatini P et al. Management
                                    of the hypertensive patient with elevated heart rate. Statement of the Second
                                    Consensus
                                    Conference endorsed by the European Society of Hypertension J Hypertens. 2016;34(5):
                                    813-821; doi: 10.1097/HJH.0000000000000865; та ресурсу Американської Асоціації
                                    Кардіологів
                                    https://www.heart.org/en/health-topics/high-blood-pressure/the-factsabout-high-blood-pressure/all-about-heart-rate-pulse
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="indexes-footer-item indexes-last">
                                    <div class="footer-item">
                                        <div class="footer-item-contacts">
                                            <div class="col-12 col-lg-8 col-xl-9 p-0">
                                                <div class="footer-item-title">
                                                    Виданий за партнерства ДУ «ННЦ Інститут кардіології імені М.Д.
                                                    Стражеска»
                                                    НАМН України та ТОВ «Серв’є Україна»
                                                </div>
                                                <div class="item-contacts">
                                                    ТОВ «Серв’є Україна»: 04070, м. Київ,
                                                    вул. Набережно-Хрещатицька, 41.
                                                    Тел. (044) 490-34-41, www.servier.ua.
                                                    Copyright © 2020, ТОВ «Серв’є Україна».
                                                    Всі права захищені. CV-NonPM-2020-2
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-xl-3 p-0">
                                                <div class="item-logo">
                                                    <img src="../../../assets/img/servier-logo.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general__description">© Copyright 2020 <span>|</span> Інститут кардіології імені академіка М.Д.
            Стражеска <span>|</span>All Rights Reserved
        </div>
        <div class="general__help">
            <span>За інформаційної підтримки Servier</span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="../../../assets/js/common.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>